body {
    background-color: #0a0f1a; /* Fond sombre */
    font-family: Arial, sans-serif;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

table {
    width: 100%;
    border-collapse: collapse;
    background-color: #111c30;
    border-radius: 10px;
    overflow: hidden;
    margin-top: 50px;
    
}

th, td {
    padding: 12px;
    text-align: left;
    border-bottom: 1px solid #1e2a40;
    
}

th {
    background-color: #0d1726;
    
    
}
.hard,.medium,.easy{
    font-weight: bold;

}



tr:nth-child(even) {
    background: linear-gradient(to right, #33ccff 0%, #3399ff 100%);
}

tr:hover {
    background-color: #1b2d4a;
    
    
}

.checkbox:checked  {
    background-color: #4CAF50; /* Fond vert */
    border-color: #4CAF50;
}


.easy {
    color: #12C31A; 
}

.medium {
    color: #FB8E28; 
}

.hard {
    color: #C31212; 
}

.checkbox {
    width: 16px;
    height: 16px;
    
}

.container {
    width: 90%;
    max-width: 1000px;
}